@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-body: var(--font-inter);
  --font-title: var(--font-asap);

  --shadow-custom: inset 0 0 0 1px hsla(0, 0%, 100%, 0.04),
    0 0 0 1px hsla(0, 0%, 0%, 0.15), 0px 40px 11px rgba(136, 97, 46, 0.01),
    0px 26px 10px rgba(136, 97, 46, 0.05), 0px 14px 9px rgba(136, 97, 46, 0.17),
    0px 6px 6px rgba(136, 97, 46, 0.29), 0px 2px 4px rgba(136, 97, 46, 0.33);

  --color-dark-50: hsl(0 0% 8.5%);
  --color-dark-100: hsl(0 0% 11%);
  --color-dark-200: hsl(0 0% 13.6%);
  --color-dark-300: hsl(0 0% 15.8%);
  --color-dark-400: hsl(0 0% 17.9%);
  --color-dark-500: hsl(0 0% 20.5%);
  --color-dark-600: hsl(0 0% 31.2%);
  --color-dark-700: hsl(0 0% 43.9%);
  --color-dark-800: hsl(0 0% 49.4%);
  --color-dark-900: hsl(0 0% 62.8%);
  --color-dark-950: hsl(0 0% 93%);
  --color-light-50: hsl(0 0% 99%);
  --color-light-100: hsl(0 0% 97.3%);
  --color-light-200: hsl(0 0% 95.1%);
  --color-light-300: hsl(0 0% 93%);
  --color-light-400: hsl(0 0% 90.9%);
  --color-light-500: hsl(0 0% 88.3%);
  --color-light-600: hsl(0 0% 77.6%);
  --color-light-700: hsl(0 0% 65.9%);
  --color-light-800: hsl(0 0% 60.4%);
  --color-light-900: hsl(0 0% 43.5%);
  --color-light-950: hsl(0 0% 9%);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --shiki-theme: var(--shiki--light);
  --shiki--light: var(--shiki-theme);
  --shiki--dark: var(--shiki-theme);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  .dark {
    --shiki-theme: var(--shiki--dark);
    --shiki--light: var(--shiki-theme);
    --shiki--dark: var(--shiki-theme);
  }
  [data-theme="dark"] {
    --shiki-theme: var(--shiki--dark);
  }
  [data-theme="light"] {
    --shiki-theme: var(--shiki--light);
  }
}

@layer base {
  html {
    --text-primary: var(--color-light-200);
    --text-quaternary: var(--color-light-950);
  }

  .dark {
    --text-primary: var(--color-dark-200);
    --text-quaternary: var(--color-dark-950);
  }
}

@layer utilities {
  .slide-in-up {
    animation: slideInUp 0.3s forwards;
  }

  .slide-out-up {
    animation: slideOutUp 0.3s forwards;
  }

  .slide-in-down {
    animation: slideInDown 0.3s forwards;
  }

  .slide-out-down {
    animation: slideOutDown 0.3s forwards;
  }

  @keyframes slideInUp {
    from {
      transform: translateY(50px);
      filter: blur(5px);
    }
    to {
      transform: translateY(0px);
      filter: blur(0px);
    }
  }

  @keyframes slideOutUp {
    from {
      transform: translateY(0px);
      filter: blur(0px);
    }
    to {
      transform: translateY(-50px);
      filter: blur(5px);
    }
  }

  @keyframes slideInDown {
    from {
      transform: translateY(-50px);
      filter: blur(5px);
    }
    to {
      transform: translateY(0px);
      filter: blur(0px);
    }
  }

  @keyframes slideOutDown {
    from {
      transform: translateY(0px);
      filter: blur(0px);
    }
    to {
      transform: translateY(50px);
      filter: blur(5px);
    }
  }

  .loading-shimmer {
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation-delay: 0.5s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: loading-shimmer;
    background: var(--text-quaternary)
      gradient(
        linear,
        100% 0,
        0 0,
        from(var(--text-quaternary)),
        color-stop(0.5, var(--text-primary)),
        to(var(--text-quaternary))
      );
    background: var(--text-quaternary) -webkit-gradient(linear, 100% 0, 0 0, from(var(--text-quaternary)), color-stop(0.5, var(--text-primary)), to(var(--text-quaternary)));
    background-clip: text;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 50% 200%;
    display: inline-block;
  }

  .loading-shimmer {
    background-position: -100% top;
  }
  .loading-shimmer:hover {
    -webkit-text-fill-color: var(--text-quaternary);
    animation: none;
    background: transparent;
  }

  @keyframes loading-shimmer {
    0% {
      background-position: -100% top;
    }

    to {
      background-position: 250% top;
    }
  }

  :root {
    --color-bg-light: #00c951;
    --color-bg: #00c951;
    --color-contrast-higher: #fff;
    --color-contrast-highest: #fff;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --neutral-soft: 0px 0px 0px 1px rgba(9, 9, 11, 0.08),
      0px 1px 2px -1px rgba(9, 9, 11, 0.08),
      0px 2px 4px 0px rgba(9, 9, 11, 0.04);
    --neutral-soft-hover: 0px 0px 0px 1px rgba(9, 9, 11, 0.08),
      0px 1px 2px -1px rgba(9, 9, 11, 0.08), 0px 2px 8px 0px rgba(9, 9, 11, 0.1);
  }
  .gradient-mask-t-0 {
    -webkit-mask-image: linear-gradient(#0000, #000);
    mask-image: linear-gradient(#0000, #000);
  }

  .body-mask-b-0 {
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      transparent 100%
    );
  }
  .body-mask-t-0 {
    -webkit-mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      transparent 100%
    );
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  }
}
@layer base {
  .candy-btn {
    color: hsl(from var(--color-contrast-higher) h s l / 0.83);
    text-shadow: 0 1px 0 hsl(from white h s l / 0.3);
    background: radial-gradient(
        ellipse at -20px top,
        hsl(from white h s l / 0.25),
        hsl(from white h s l / 0)
      ),
      var(--color-bg-light);
    background-blend-mode: overlay, normal;

    &::after {
      background: linear-gradient(
          180deg,
          hsl(from white h s l / 0.65),
          hsl(from #5b4b32 h s l / 0.68) 41%,
          hsl(from #7f6845 h s l / 0.46) 75%,
          hsl(from white h s l / 0.25)
        )
        border-box;
      mix-blend-mode: overlay;
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      pointer-events: none;
      border: 1.5px solid transparent;
      -webkit-mask: linear-gradient(black, black) padding-box,
        linear-gradient(black, black);
      mask: linear-gradient(black, black) padding-box,
        linear-gradient(black, black);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    @media (hover: hover) {
      &:hover {
        background: radial-gradient(
            ellipse at -20px top,
            hsl(from white h s l / 0.35),
            hsl(from white h s l / 0)
          ),
          var(--color-bg-light);
        box-shadow: inset 0 0 0 1px hsl(from white h s l / 0.04),
          0 0 0 1px hsl(from black h s l / 0.15),
          0px 40px 11px rgba(0, 201, 81, 0.01),
          0px 26px 10px rgba(0, 201, 81, 0.05),
          0px 14px 9px rgba(0, 201, 81, 0.17),
          0px 6px 6px rgba(0, 201, 81, 0.29), 0px 2px 4px rgba(0, 201, 81, 0.33);
      }
    }
  }

  .box-light {
    &::after {
      background: linear-gradient(
          180deg,
          hsl(from white h s l / 0.65),
          hsl(from #5b4b32 h s l / 0.68) 41%,
          hsl(from #7f6845 h s l / 0.46) 75%,
          hsl(from white h s l / 0.25)
        )
        border-box;
      mix-blend-mode: overlay;
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      pointer-events: none;
      border: 1.5px solid transparent;
      -webkit-mask: linear-gradient(black, black) padding-box,
        linear-gradient(black, black);
      mask: linear-gradient(black, black) padding-box,
        linear-gradient(black, black);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    @media (hover: hover) {
      &:hover {
        background: radial-gradient(
            ellipse at -20px top,
            hsl(from white h s l / 0.25),
            hsl(from white h s l / 0)
          ),
          var(--color-bg-light) !important;
        background-blend-mode: overlay, normal;
        box-shadow: inset 0 0 0 1px hsl(from white h s l / 0.04),
          0 0 0 1px hsl(from black h s l / 0.15),
          0px 40px 11px rgba(0, 201, 81, 0.01),
          0px 26px 10px rgba(0, 201, 81, 0.05),
          0px 14px 9px rgba(0, 201, 81, 0.17),
          0px 6px 6px rgba(0, 201, 81, 0.29), 0px 2px 4px rgba(0, 201, 81, 0.33);
      }
    }
  }
}

::selection {
  background: var(--color-pink-500);
  color: white;
}

.shadow-light {
  --tw-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0px 0px 0px 1px var(--tw-shadow-color),
    0px 1px 2px -1px var(--tw-shadow-color),
    0px 2px 4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-dark {
  --tw-shadow: 0px -1px 0px 0px hsla(0, 0%, 100%, 0.06),
    0px 0px 0px 1px hsla(0, 0%, 100%, 0.06), 0px 0px 0px 1px #27272a,
    0px 1px 2px 0px rgba(0, 0, 0, 0.32), 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
  --tw-shadow-colored: 0px -1px 0px 0px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color),
    0px 1px 2px 0px var(--tw-shadow-color),
    0px 2px 4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-neutral-soft {
  --tw-shadow: var(--neutral-soft);
  --tw-shadow-colored: var(--neutral-soft);
}
.shadow-neutral-soft-hover,
.shadow-neutral-soft {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-neutral-soft-hover {
  --tw-shadow: var(--neutral-soft-hover);
  --tw-shadow-colored: var(--neutral-soft-hover);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shiki {
  background-color: transparent !important;
  font-size: 14px;
  & span {
    color: var(--shiki--light, var(--_s-light))
      var(--shiki--dark, var(--_s-dark));
  }
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
